@media only screen and (max-width: 1000px) {
    .ads {
        display: none;
    }
    .button-set {
        display: none;
    }
    .nav-logo {
        width: auto;
    }
    .content {
        width: 90%;
    }
    .search-area {
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .content .right .row button {
        font-size: 12px;
        width: 40%;
    }
    .content {
        width: 100%;
    }
    .search-area {
        width: 100%;
    }
    .search-area .item {
        font-size: 13px;
    }
    .search-area .item div input,
    .search-area .item div button {
        font-size: 13px;
    }
    .tile-right h5 {
        font-size: 16px;
    }
    .tile-right p {
        font-size: 11.5px;
    }
    .tile-right h6 {
        font-size: 13.5px;
    }
    .content .right .tile {
        height: 25vh;
    }
    footer .row div h4 {
        font-size: 16px;
    }
    footer .row div p,
    .social-links,
    ul {
        font-size: 11px;
    }
}